vendor
.env
.env.*
node_modules
.git
.gitignore
storage/*.key
storage/debugbar
storage/*.sqlite
storage/logs/*.log
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
npm-debug.log
yarn-error.log
docker-compose*.yml
Dockerfile.*
build/
.vscode/
.idea/
tests/
phpunit.xml
.phpunit.result.cache
/.dockerignorevendor
node_modules
.git
.github
storage/*.key
.env
/.vscode
/.idea
